body {
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
}

.container-fluid {
	padding: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.logo {
	font-weight: 700;
}

article {
	color: #000;
	margin: 12em 0 auto;
	padding-top: 8em;
}
.phone {
	font-weight: 700;
	font-size: 20px;
}
.phoneblue {
	color: #008ED6;
}
.phonenumber {
	color: #fff;
}
.subheader {
	padding-top: 18px;
}
.sub {
	color: #008ED6;
	line-height: 1.25;
	margin-bottom: .8em; 
}
/* .sub-center {
	padding-top: 4em;
}
.sub-testimonial {
	padding-top: 2em;
} */

.mega {
	margin-top: 1px;
	font-size: 48px;
	line-height: 125%;
}

.subheader-paragraph {
	line-height: 125%;
}

.button1 {
	background-color: #008DD5;
	border: none;
	color: #fff;
}

.button2 {
	background-color: transparent;
	color: #fff;
	margin-top: 8px;
}

button.btn.btn-default.button1 h6 {
	padding: 0 36px 0 36px;
}

button.btn.btn-default.button2 h6 {
	padding: 0 36px 0 36px;
}

.buttongroup {
	margin-top: 12px;
}

.laptop-image {
	max-width: 100%;
	height: 931px;
	background-image: url("laptopimage.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
}

form {
	background-color: #fff;
	color: #000;
}

.form-format {
	margin: .8em
}

.contact {
	padding-top: 10px;
	margin-bottom: 1px;
}

.complete {
	margin-top: 1px;
	padding-bottom: 15px;
	line-height: 70%;
}

button.btn.btn-default.button1form h5 {
	padding: 0 36px 0 36px;
}

.button1form {
	margin: 2em 2em 4em 0;
	background-color: #008DD5;
	border: none;
	color: #fff;
}

.squeeze {
	padding: 0 5em 4em 5em;
}

div small {
	line-height: 200%;
}

.item {
	margin: 1em 0 1em 0;
}

.fa {
	width: 60px;
	height: 60px;
	font-size: 26px;
    color: #008DD5;
    text-align: center;
    line-height: 60px;
}
.circle {
	width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid #D3D3D3;
    position: absolute;
}
section {
	background-color: #000;
}
i {
	line-height: 133%;
}
.testimonial-name {
	font-size: 16px;
}
.squeeze-testimonials {
	padding: 2em;
}
footer {
	background-color: #000;
}
.thin {
	margin: 25px 0;
    height: .04em;
    background: black;
    background: -webkit-gradient(linear, 0 100%, 100% 0, from(black), to(black), color-stop(50%, white));
}
.fa-linkedin, .fa-facebook {
	color: grey;
}
.copy-policy {
	margin: 0 auto;
	padding: 1em 0 3em 0;
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 950px) {
    /* styles for wide screens */
	.laptop-image {
		height: 640px;
		}
	
	.sub-center {
		padding-top: 1em;
		}
	}

@media only screen and (min-width: 321px)  {
		article {
			margin: 0 0 auto;
			padding-top: 4em;
		}
		.button2 {
			background-color: transparent;
			color: #fff;
			margin-top: 0;
		}
	} 

@media only screen and (min-width: 768px)  {
		article {
			margin: 0 0 auto;
			padding-top: 0;
		}
		.button2 {
			background-color: transparent;
			color: #fff;
			margin-top: 0;
		}
	} 

@media only screen and (min-width: 1024px)  {
		article {
			margin: 1em 0 auto;
			padding-top: 0;
		}
	}

/* @media only screen and (max-width: 375px) {
	.sub-center {
			padding-top: 14em;
			margin-top: 14em;
		}
	}  */

